services:
  redis:
    image: redis:7-alpine
    container_name: drops-utm-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  mqtt:
    image: eclipse-mosquitto:2
    container_name: drops-utm-mqtt
    restart: unless-stopped
    ports:
      - '1883:1883'
      - '9001:9001'
    volumes:
      - mqtt_data:/mosquitto/data
      - mqtt_log:/mosquitto/log
      - ./docker/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

volumes:
  redis_data:
    driver: local
  mqtt_data:
    driver: local
  mqtt_log:
    driver: local
